@font-face
{
font-family: 'Shrikhand-Regular';
src: url('Shrikhand-Regular.otf')
}
@font-face
{
font-family: 'Roboto-Black';
src: url('Roboto-Black.ttf')
}

*
{
    font-family:Roboto-Black, impact , arial;
}
/* Header */
h1
{
    font-family: Shrikhand-Regular;
    text-align: center;
    margin-bottom: 10px;
}
body
{
    margin: 0px;
}
#location
{
    text-align: center;
    background-color: lightgrey;
    height: 35px;
    width: 100%;
    padding-top: 12px;
}
.fa-map-marker-alt
{
    margin-right: 15px;
}
#reservation
{
    text-align: center;
    background-color: #f2f2f2;
    height: 250px;
}
h2
{
    margin-top: 0px;
    padding-top: 30px;
}
#titre
{
    padding-left: 5%;
    padding-right: 5%;
}
/* Section Reservation */
.bouton_explore
{
    display:block;
    height:50px;
    background-color: purple;
    color: white;
    text-align:center;
    padding-top: 2px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    cursor: pointer;
}
.bouton_explore a
{
    color:white ;
    text-decoration: none;
    width: 100%;
    display: block;
}
/* Section Reservation */
#fonctionnement li
{
  
    height:50px;
    background-color: #f2f2f2;
    padding-top: 25px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 4px 4px 10px  lightgrey;
    margin-right: 10px;
}
h3
{
    display: inline;    
}
.icone-fonctionnement
{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em
}
#fonctionnement h2 , #restaurants h2
{
    margin-left: 20px;
}

/* Section Restaurants */
#restaurants
{
    background-color: #f2f2f2;
    padding-bottom: 40px;
}
#restaurants a
{
    color: black;
    text-decoration: none;
}
.image_la_palette
{
    background-image:url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.image_la_note
{
    background-image:url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.image_la_francaise
{
    background-image:url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.image_le_delice
{
    background-image:url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.images
{
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0
}
.bloc_restaurants
{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    box-shadow: 6px 6px 6px grey;
    border-radius: 20px 20px 20px 20px;
}
.description
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}
#restaurants p
{
    font-size: 0.9em;
    margin-top: 1px;
}
#restaurants h4
{
    margin-bottom: 0.8%;
    font-size: 1.2em;
}
.texte_description
{
    margin-left: 5%;
}
.far
{
    font-size: 1.5em;
    align-items: center;
    display: flex;
    margin-right: 5%;
    margin-top: 2%;
}
/* Footer */
.container_footer p
{
    font-family:Shrikhand-Regular ;
    font-size: 1.2em;
    margin-left: 7%;
    margin-top: 0px;
    padding-top: 15px;
}
.container_footer
{
    background-color: black;
    color: white; 
    padding-bottom: 15px;
}
.container_footer a
{
    text-decoration: none ;
    color: white;
    font-size: 1em;
}
.container_footer li
{
    margin-bottom: 10px;
}
ul
{
    list-style: none;
    padding-left: 6%;
}
.footer_logo
{
    margin-right: 10px;
}
/* Page des restaurants */

/* Page des restaurants - Header  */

#acceuil
{
    display: flex;
    justify-content: space-around ;
}
#acceuil a 
{
    margin-top: 8%;
    width: 20px ;
    height: 20px;
}

/* Page des restaurants - contenu */
.fa-heart
{
    padding-top: 7%;
}
.menu_selection h2
{
    margin-left: 2%;
    font-size: 1em;
}
#description_menu
{
    display: flex;
    justify-content: space-around;
}
.images_restaurants
{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;

}
#description_menu h2
{
    font-family: Shrikhand-Regular ;

}
.menu
{
    background-color: #f2f2f2;
    padding-bottom: 40px;
    border-radius: 30px 30px 0px 0px ;
    margin-top: -25px;
}
.menu_selection
{
    width: 90%;
    margin-left: 5%;
}
.description_restaurant
{
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 4%;
}
.description_restaurant h4
{
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 1em;
    white-space: normal;
    
}
.description_restaurant p
{
    margin-top: 2px;
    font-size: 0.8em;
    width: 240px;
    white-space: nowrap;
 
}
.price
{
   margin-right: 8%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-bottom: 1em;
}
.texte_description
{
    width: 240px;
}
.bouton_commander
{
    margin-top: 10%;
}
/* Page des restaurants - Footer */